// General and Resetting
$Tomato: hsl(4, 100%, 67%);
$DarkSlateGrey: hsl(234, 29%, 20%);
$CharcoalGrey: hsl(235, 18%, 26%);
$Grey: hsl(231, 7%, 60%);
$White: hsl(0, 0%, 100%);

$Widhts: 35%, 400pt;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif !important;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

%card-shared {
  width: 50%;
  margin-inline: auto;
  background-color: white;
  border-radius: 0.45rem;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  min-height: 400px;
  align-items: center;
}
%button-shared {
  width: 75%;
  padding: 15px 10px;
  border: 1px solid $DarkSlateGrey;
  border-radius: 9px;
  margin-top: 9px;
  background: $DarkSlateGrey;
  color: white;
  text-align: center;
  font-family: inherit;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
}
%button-shared-hover {
  background-color: none;
  background: linear-gradient(to right, #ff5378, #ff673d);
  border-image: linear-gradient(to right, #ff5378, #ff673d);
}
body {
  background-color: $DarkSlateGrey;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow-y: auto;
}
.card {
  @extend %card-shared;
  .card__leftSide {
    display: flex;
    flex-direction: column;
    width: 70%;
    color: $CharcoalGrey;
    h1 {
      font-size: 2rem;
      color: $DarkSlateGrey;
    }
    p {
      margin-block: 1rem;
      max-width: 40ch;
    }
    ul {
      margin-inline-start: 1.8rem;
      list-style-type: none;
      li {
        list-style-image: url("/assets/images/icon-list.svg");
        line-height: 1.5;
        padding-left: 1rem;
      }
      li::marker {
        font-size: 1.5em;
        line-height: 1.5;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      padding-top: 5px;
      position: relative;

      * {
        align-self: flex-start;
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .errorMessage {
          display: none;
          font-size: small;
          color: $Tomato;
        }
        .errorMessage.open {
          display: flex;
        }
      }
      input {
        width: 65%;
        padding: 10px 0;
        text-indent: 1rem;
        font: inherit;
        border-radius: 9px;
        margin-inline-start: 3px;
        border-style: solid;
      }
      input:hover {
        border-color: $Grey;
        border-style: solid;
      }
      input.error {
        border-color: $Tomato;
      }
      button {
        @extend %button-shared;
      }
      button:hover {
        @extend %button-shared-hover;
      }
    }
  }
  .card__rightSide {
    width: 210px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    img {
      width: 100%;
      max-height: 100%;
    }
  }
}

.success {
  @extend %card-shared;
  width: 35%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  *:not(.success__submit) {
    align-self: flex-start;
  }
  h1 {
    font-size: 2.5rem;
    width: 15ch;
    color: $DarkSlateGrey;
  }
  p {
    color: $Grey;
    span {
      color: $DarkSlateGrey;
      font-weight: 700;
    }
  }
  button {
    @extend %button-shared;
  }
  button:hover {
    @extend %button-shared-hover;
  }
}
.card.hidden,
.success.hidden {
  display: none;
}

@media (max-width: 1000px) {
  .card {
    flex-direction: column-reverse;
  }

  .success,
  .card {
    width: 90%;
  }
  .card__rightSide {
    width: 100% !important;
    img {
      width: 100% !important;
      max-height: none !important;
    }
  }
}
